.letter {
    background-image: url(../img/heart.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: 0 0 15px 3px black;
}
.letter-content {
    margin: auto;
    border-radius: 30px;
    border: 2px solid black;
}
.letter-content > div:first-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.letter-content > div:first-child > div > span {
    vertical-align: middle;
}
.letter-content .date {
    font-family: 'Courier New', Courier, monospace;
}
.letter-content .text {
    overflow-wrap: break-word;
}
.letter-content .text > p {
  margin: 0;
}
.text .ql-align-center {
  text-align: center;
}
.text .ql-align-right {
  text-align: right;
}
.text .ql-align-justify {
  text-align: justify;
}
.text .ql-indent-1 {
  text-indent: 20px;
}
.text blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.text blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.text blockquote p {
  display: inline;
}